{
    "env":{
        "browser": true
    },
    "extends":[ "airbnb-base" , "prettier"],
    "rules":{
        "prefer-const":"off",
        "no-unused-vars": "off"
    },
    "plugins":[
        "prettier"
    ]
}